{erl_opts, [debug_info]}.
{overrides, [{override, erlware_commons, [{erl_opts, [
                                                      {platform_define, "^[0-9]+", namespaced_types},
                                                      {platform_define, "^R1[4|5]", deprecated_crypto},
                                                      {platform_define, "^((1[8|9])|2)", rand_module},
                                                      {platform_define, "^2", unicode_str},
                                                      {platform_define, "^(R|1|20)", fun_stacktrace},
                                                      debug_info,
                                                      warnings_as_errors
                                                     ]}
                                         ]},
             {override, bbmustache, [{erl_opts, [debug_info]}]},
             {override, getopt, [{erl_opts, [debug_info, {platform_define, "^2", unicode_str}]}]},
             {override, providers, [{erl_opts, [debug_info]}]}
            ]}.

{deps, [
  {relx, "3.27.0"}
]}.
